.general-review
{
	text-align:center;
}
.box-comments{
	margin-top:1rem;
}
 .ratings {
        width: 290px !important;
        display: inline-block;
    }
    .ratings-targets{
      display: inline-block;
    }

    .ratings img{
        width: 55px;
        height: 50px;
        display: inline-block;
    }